<div class="card">
  <div class="card-body">
    <%# <form>
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Can type your post....." rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-success float-right"><i class="fa fa-paper-plane"></i></button>
</form> %>
    <%= form_for @post,method: :post do |f| %>
      <div class="form-group">
        <%= f.text_area :tweet, placeholder:"Can type your post.....",rows:"3",class:"form-control" %>
      </div>
      <%= f.submit "Post",class:"btn btn-success float-right" %>
    <% end %>
  </div>
</div>
