<div class="card">
  <div class="card-body">
    <form>
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Can type your post....." rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-success float-right"><i class="fa fa-paper-plane"></i></button>
</form>
  </div>
</div>