<div class="card mb-4">
  <div class="card-header">
    <%= link_to post.user.name, user_path(post.user) %>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= post.tweet%>
    </p>
    
  </div>
  <div class="card-footer text-muted">
    <%= time_ago_in_words(post.created_at, include_seconds: true)%> ago <% if current_user==post.user %><%= link_to 'Delete',post_path(post),class:"btn btn-outline-danger float-right" ,method: :delete,data: { confirm: 'Are you sure?' }%><%end%>
  </div>
</div>
